@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

* {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    border: none;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-weight: 400;
    font-style: italic;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fffeff;
    padding: 0;
    margin: 0;

}

.parallax {
    background:linear-gradient(to bottom, rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.29) 100%),  url("img/krasi.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

nav {
    padding: 3px 50px 10px 10px;
    float: right;
}

a {
    letter-spacing: 1px;
    color: #bababc;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s linear;
    font-size: 16px;
}

a:hover {
    color: #fffdfb;

}

li {
    display: inline-block;
    padding:15px 25px 15px 15px;
}

header h1 {
    font-size: 30px;
    font-weight:300;
    color: #cfcfcf;
    padding-bottom: 13px;
    transition: all 0.3s ease;
}

header h1:hover {
    border-bottom: 1px solid white;
    transition: all 0.3s ease;
    color: white;
}


.joke-container {
    /*margin: 0 auto;*/
    padding: 200px 0px 0px 100px;
    width: 380px;
}






